{% extends "base.html.twig" %}

{% block title %}Products{% endblock %}

{% block body %}

    <h1>Welcome to the product page</h1>

    <div class="container principal">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.model}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td><img src="/img/{{product.image}}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
