{% extends "base.html.twig" %}

{% block title %}Products{% endblock %}

{% block body %}

    <h1>Welcome to the product page</h1>

    {% for product in products %}

        <div>
    <p class="title">{{ product.model }}</p>
    <p class="price">{{ product.price }}€</p>
    <p class="brand">Marca: {{ product.brand }}</p>
    <p class="quantity">Cantidad: {{ product.quantity }}</p>
    <p class="type">Tipo: {{ product.type }}</p>
        </div>
        
    {% endfor %}

{% endblock %}
